[submodule "mirge/demos/ipython-demo-tools"]
	path = mirge/demos/ipython-demo-tools
	url = https://github.com/inducer/ipython-demo-tools.git
[submodule "Parsl_tutorial"]
	path = Parsl_tutorial
	url = https://github.com/astro-friedel/Parsl_tutorial.git
